<app-home-form></app-home-form>
<table>
	<thead>
		<tr>
			<th>id</th>
			<th>title</th>
<!-- 			<th>questions</th> -->
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let quiz of quizes;  let i = index">
			<td>{{quiz.id}}</td>
			<td>{{quiz.name}}</td>
<!-- 			<td>If needed add questionList titles here</td> -->
			<td>
				<button mat-raised-button (click)="editQuiz(quiz)" color="primary">Edit</button>
				<button mat-raised-button (click)="deleteQuiz(quiz, i)" color="primary">Delete</button>
			</td>
		</tr>
	
	</tbody>


</table>
<button mat-raised-button (click)="createNewQuiz()" color="primary">Create a new Quiz</button>
<!-- <button (click) = "editQuiz()">Create a new question</button> -->
