/* Create 2 unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

.left, .right {
  width: 50%;
  min-width: 180px;
}

/* .middle { */
/*   width: 30%; */
/*   min-width: 90px; */
/* } */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.even {
	background-color: highlight;
}