<app-home-form></app-home-form>
<div class="container-fluid">
		<label for="quizTitle">Please enter the quiz title</label>
		<textarea id="quizTitle" [(ngModel)]="quizTitle"></textarea>
</div>
<body>

	<div class="container-fluid">
		<div class="row">
			<div class="column left">
				<h3>Selected questions</h3>
				<table>
					<thead>
						<tr>
							<th>title</th>
							<th>difficulty</th>
						</tr>
					</thead>
					<tbody>
						<tr
							*ngFor="let question of selected_questions; let i = index; let even = even; let odd = odd"
							[ngClass]="{ odd: odd, even: even }">
							<td>{{question.title}}</td>
							<td><button (click)="putInAvailable(question,i)">Remove</button></td>
						</tr>
					</tbody>
				</table>
			</div>
<!-- 			<div class="column middle"> -->
<!-- 				<h3>Column 2</h3> -->
<!-- 				<p>BLANK SPACE</p> -->
<!-- 			</div> -->
			<div class="column rigth">
				<h3>Available Questions</h3>
				<table>
					<thead>
						<tr>
							<th>title</th>
							<th>difficulty</th>
						</tr>
					</thead>
					<tbody>
						<tr
							*ngFor="let question of available_questions; let i = index; let even = even; let odd = odd"
							[ngClass]="{ odd: odd, even: even }">
							<td>{{question.title}}</td>

							<td><button (click)="putInSelected(question, i)">&ensp;Add&ensp;</button></td>
						</tr>
					</tbody>
				</table>
				
			</div>
		</div>
	</div>
	<button (click)="createQuiz()">Create/Update</button>
</body>